@use '../../utils/styles/mixins' as mixins;

main {
  gap: 4em;
  @include mixins.main;
}

.cheat-sheet {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #007bff;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  @media (max-width: 425px) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    thead {
      display: none;
    }

    tbody {
      display: flex;
      flex-flow: column;
      gap: 10px;
    }

    tr {
      display: flex;
      flex-direction: column;
      background: white;
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    td {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      border: none;
      font-size: 14px;
    }

    td::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      color: #555;
    }
  }
}