nav {
  padding: 2em;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 2em;

  a {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 1px solid #555555;
    padding: .2em;
    width: 200px;
    background: #36395a;
    color: #f2f2f2;
  }
}